In [3]:
import pandas as pd
from sqlalchemy import create_engine

teams = [
        'BOS',
        'BRK',
        'TOR',
        'PHI',
        'NYK',
        'MIN',
        'OKC',
        'DEN',
        'POR',
        'UTA',
        'CHI',
        'CLE',
        'DET',
        'IND',
        'MIL',
        'LAL',
        'LAC',
        'GSW',
        'PHO',
        'SAC',
        'WAS',
        'ATL',
        'ORL',
        'MIA',
        'CHO',
        'MEM',
        'NOP',
        'HOU',
        'SAS',
        'DAL'
        ]

def getTeamName(team):
        if team == 'BOS': return "Boston Celtics"
        if team == 'BRK': return "Brooklyn Nets"
        if team == 'TOR': return "Toronto Raptors"
        if team == 'PHI': return "Philadelphia 76ers"
        if team == 'NYK': return "New York Knicks"
        if team == 'MIN': return "Minnesota Timberwolves"
        if team == 'OKC': return "Oklahoma City Thunder"
        if team == 'DEN': return "Denver Nuggets"
        if team == 'POR': return "Portland Trail Blazers"
        if team == 'UTA': return "Utah Jazz"
        if team == 'CHI': return "Chicago Bulls"
        if team == 'CLE': return "Cleveland Cavaliers"
        if team == 'UTA': return "Utah Jazz"
        if team == 'DET': return "Detroit Pistons"
        if team == 'IND': return "Indiana Pacers"
        if team == 'MIL': return "Milwaukee Bucks"
        if team == 'LAL': return "Los Angeles Lakers"
        if team == 'LAC': return "Los Angeles Clippers"
        if team == 'GSW': return "Golden State Warriors"
        if team == 'PHO': return "Phoenix Suns"
        if team == 'SAC': return "Sacremento Kings"
        if team == 'WAS': return "Washington Wizards"
        if team == 'ATL': return "Atlanta Hawks"
        if team == 'ORL': return "Orlando Magic"
        if team == 'MIA': return "Miami Heat"
        if team == 'CHO': return "Charlotte Hornets"
        if team == 'MEM': return "Memphis Grizzlies"
        if team == 'NOP': return "New Orleans Pelicans"
        if team == 'HOU': return "Houston Rockets"
        if team == 'SAS': return "San Antonio Spurs"
        if team == 'DAL': return "Dallas Mavericks"

def getTeams(team, idx):
    data = pd.read_html(f'https://www.basketball-reference.com/teams/{team}/2023.html')
    tmpdf = data[0]
    tmpdf['team'] = getTeamName(team)
    tmpdf.rename(columns={
        'Unnamed: 6': 'country', 
        'Exp': 'yoe', 
        'No.': 'number', 
        'Player': 'player',
        'Pos': 'position',
        'Ht': 'height',
        'Wt': 'weight',
        'Birth Date': 'dob',
        'College': 'college'
    }, inplace=True)
    
    return pd.concat([df, tmpdf])

df = pd.DataFrame()

for idx, t in enumerate(teams):
    df = getTeams(t, idx)

In [4]:
df

,number,player,position,height,weight,dob,country,yoe,college,team
0,7.0,Jaylen Brown,SF,6-6,223,"October 24, 1996",us,6,California,Boston Celtics
1,0.0,Jayson Tatum,SF,6-8,210,"March 3, 1998",us,5,Duke,Boston Celtics
2,13.0,Malcolm Brogdon,PG,6-5,229,"December 11, 1992",us,6,Virginia,Boston Celtics
3,12.0,Grant Williams,PF,6-6,236,"November 30, 1998",us,3,Tennessee,Boston Celtics
4,36.0,Marcus Smart,PG,6-3,220,"March 6, 1994",us,8,Oklahoma State,Boston Celtics
...,...,...,...,...,...,...,...,...,...,...
12,NaN,Jaden Hardy,SG,6-4,198,"July 5, 2002",us,R,NaN,Dallas Mavericks
13,NaN,Dwight Powell,C,6-10,240,"July 20, 1991",ca,8,Stanford,Dallas Mavericks
14,NaN,Tyler Dorsey (TW),SG,6-5,183,"February 18, 1996",us,2,Oregon,Dallas Mavericks
15,NaN,McKinley Wright IV (TW),PG,6-0,196,"October 25, 1998",us,1,Colorado,Dallas Mavericks
16,NaN,Facundo Campazzo,PG,5-10,195,"March 23, 1991",ar,2,NaN,Dallas Mavericks

In [5]:
'''
us - United States
do - Dominican Republic
it - Italy
ca - Canada
jp - Japan
au - Australia
cm - Cameroon
es - Spain
lc - St. Lucia
gb - Great Britain
ng - Nigeria
tr - Turkey
fr - France
ua - Ukraine
rs - Russia
si - Slovenia
ba - Bosnia and Herzegovina
fi - Finland
ar - Argentina
gr - Greece
me - Montenegro
ch - Switzerland
mk - North Macedonia
br - Brazil
gn - Guinea
de - Germany
bs - Bahamas
ge - Georgia
cg - Congo
sd - Sudan
cd - The Democratic Republic of Congo
hr - Croatia
pt - Portugal
lv - Latvia
il - Israel
cz - Czechia
jm - Jamaica
nz - New Zealand
lt - Lithuania
ao - Angola
sn - Senegal
at - Austria
be - Belgium
'''

countryCodes = df['country'].unique()

dict = {
    'country': [],
    'name': []
}

def addCountry(code, country):
    dict['country'].append(code)
    dict['name'].append(country)

for code in countryCodes:
    if code == 'us': addCountry(code, 'United States')
    if code == 'do': addCountry(code, 'Dominican Republic')
    if code == 'it': addCountry(code, 'Italy')
    if code == 'ca': addCountry(code, 'Canada')
    
    if code == 'jp': addCountry(code, 'Japan')
    if code == 'au': addCountry(code, 'Australia')
    if code == 'cm': addCountry(code, 'Cameroon')
    if code == 'es': addCountry(code, 'Spain')

    if code == 'lc': addCountry(code, 'St. Lucia')
    if code == 'gb': addCountry(code, 'Great Britain')
    if code == 'ng': addCountry(code, 'Nigeria')
    if code == 'tr': addCountry(code, 'Turkey')

    if code == 'fr': addCountry(code, 'France')
    if code == 'ua': addCountry(code, 'Ukraine')
    if code == 'rs': addCountry(code, 'Russia')
    if code == 'si': addCountry(code, 'Slovenia')

    if code == 'ba': addCountry(code, 'Bosnia and Herzegovina')
    if code == 'fi': addCountry(code, 'Finland')
    if code == 'ar': addCountry(code, 'Argentina')
    if code == 'gr': addCountry(code, 'Greece')

    if code == 'me': addCountry(code, 'Montenegro')
    if code == 'ch': addCountry(code, 'Switzerland')
    if code == 'mk': addCountry(code, 'North Macedonia')
    if code == 'br': addCountry(code, 'Brazil')

    if code == 'gn': addCountry(code, 'Guinea')
    if code == 'de': addCountry(code, 'Germany')
    if code == 'bs': addCountry(code, 'Bahamas')
    if code == 'ge': addCountry(code, 'Georgia')

    if code == 'cg': addCountry(code, 'Congo')
    if code == 'sd': addCountry(code, 'Sudan')
    if code == 'cd': addCountry(code, 'The Democratic Republic of Congo')
    if code == 'hr': addCountry(code, 'Crotia')

    if code == 'pt': addCountry(code, 'Portugal')
    if code == 'lv': addCountry(code, 'Latvia')
    if code == 'il': addCountry(code, 'Israel')
    if code == 'cz': addCountry(code, 'Czechia')

    if code == 'jm': addCountry(code, 'Jamaica')
    if code == 'nz': addCountry(code, 'New Zealnd')
    if code == 'lt': addCountry(code, 'Lithuania')
    if code == 'ao': addCountry(code, 'Angola')

    if code == 'sn': addCountry(code, 'Senegal')
    if code == 'at': addCountry(code, 'Austria')
    if code == 'be': addCountry(code, 'Belgium')


countrydf = pd.DataFrame.from_dict(dict)
countrydf

   country                              name
0       us                     United States
1       do                Dominican Republic
2       it                             Italy
3       ca                            Canada
4       au                         Australia
5       jp                             Japan
6       cm                          Cameroon
7       gb                     Great Britain
8       ng                           Nigeria
9       es                             Spain
10      lc                         St. Lucia
11      tr                            Turkey
12      fr                            France
13      ua                           Ukraine
14      rs                            Russia
15      si                          Slovenia
16      ba            Bosnia and Herzegovina
17      fi                           Finland
18      ar                         Argentina
19      ch                       Switzerland
20      me                        Montenegro
21      gr                            Greece
22      mk                   North Macedonia
23      br                            Brazil
24      gn                            Guinea
25      bs                           Bahamas
26      ge                           Georgia
27      de                           Germany
28      cg                             Congo
29      sd                             Sudan
30      cd  The Democratic Republic of Congo
31      hr                            Crotia
32      pt                          Portugal
33      lv                            Latvia
34      il                            Israel
35      cz                           Czechia
36      jm                           Jamaica
37      nz                        New Zealnd
38      lt                         Lithuania
39      ao                            Angola
40      at                           Austria
41      sn                           Senegal
42      be                           Belgium

In [6]:
dfjoin = pd.merge(df, countrydf, how="inner", left_on=['country'], right_on=['country'])
dfjoin

,number,player,position,height,weight,dob,country,yoe,college,team,name
0,7.0,Jaylen Brown,SF,6-6,223,"October 24, 1996",us,6,California,Boston Celtics,United States
1,0.0,Jayson Tatum,SF,6-8,210,"March 3, 1998",us,5,Duke,Boston Celtics,United States
2,13.0,Malcolm Brogdon,PG,6-5,229,"December 11, 1992",us,6,Virginia,Boston Celtics,United States
3,12.0,Grant Williams,PF,6-6,236,"November 30, 1998",us,3,Tennessee,Boston Celtics,United States
4,36.0,Marcus Smart,PG,6-3,220,"March 6, 1994",us,8,Oklahoma State,Boston Celtics,United States
...,...,...,...,...,...,...,...,...,...,...,...
489,17.0,Jonas Valančiūnas,C,6-11,265,"May 6, 1992",lt,10,NaN,New Orleans Pelicans,Lithuania
490,20.0,Bruno Fernando,C,6-9,240,"August 15, 1998",ao,3,Maryland,Houston Rockets,Angola
491,25.0,Jakob Poeltl,C,7-1,245,"October 15, 1995",at,6,Utah,San Antonio Spurs,Austria
492,41.0,Gorgui Dieng,C,6-10,252,"January 18, 1990",sn,9,Louisville,San Antonio Spurs,Senegal
493,NaN,Frank Ntilikina,PG,6-4,200,"July 28, 1998",be,5,NaN,Dallas Mavericks,Belgium

In [7]:
# Drop 'country' columns
dfjoin = dfjoin.drop(['country'], axis=1)
dfjoin

,number,player,position,height,weight,dob,yoe,college,team,name
0,7.0,Jaylen Brown,SF,6-6,223,"October 24, 1996",6,California,Boston Celtics,United States
1,0.0,Jayson Tatum,SF,6-8,210,"March 3, 1998",5,Duke,Boston Celtics,United States
2,13.0,Malcolm Brogdon,PG,6-5,229,"December 11, 1992",6,Virginia,Boston Celtics,United States
3,12.0,Grant Williams,PF,6-6,236,"November 30, 1998",3,Tennessee,Boston Celtics,United States
4,36.0,Marcus Smart,PG,6-3,220,"March 6, 1994",8,Oklahoma State,Boston Celtics,United States
...,...,...,...,...,...,...,...,...,...,...
489,17.0,Jonas Valančiūnas,C,6-11,265,"May 6, 1992",10,NaN,New Orleans Pelicans,Lithuania
490,20.0,Bruno Fernando,C,6-9,240,"August 15, 1998",3,Maryland,Houston Rockets,Angola
491,25.0,Jakob Poeltl,C,7-1,245,"October 15, 1995",6,Utah,San Antonio Spurs,Austria
492,41.0,Gorgui Dieng,C,6-10,252,"January 18, 1990",9,Louisville,San Antonio Spurs,Senegal
493,NaN,Frank Ntilikina,PG,6-4,200,"July 28, 1998",5,NaN,Dallas Mavericks,Belgium

In [8]:
dfjoin.rename(columns={'name': 'country'}, inplace=True)
dfjoin

,number,player,position,height,weight,dob,yoe,college,team,country
0,7.0,Jaylen Brown,SF,6-6,223,"October 24, 1996",6,California,Boston Celtics,United States
1,0.0,Jayson Tatum,SF,6-8,210,"March 3, 1998",5,Duke,Boston Celtics,United States
2,13.0,Malcolm Brogdon,PG,6-5,229,"December 11, 1992",6,Virginia,Boston Celtics,United States
3,12.0,Grant Williams,PF,6-6,236,"November 30, 1998",3,Tennessee,Boston Celtics,United States
4,36.0,Marcus Smart,PG,6-3,220,"March 6, 1994",8,Oklahoma State,Boston Celtics,United States
...,...,...,...,...,...,...,...,...,...,...
489,17.0,Jonas Valančiūnas,C,6-11,265,"May 6, 1992",10,NaN,New Orleans Pelicans,Lithuania
490,20.0,Bruno Fernando,C,6-9,240,"August 15, 1998",3,Maryland,Houston Rockets,Angola
491,25.0,Jakob Poeltl,C,7-1,245,"October 15, 1995",6,Utah,San Antonio Spurs,Austria
492,41.0,Gorgui Dieng,C,6-10,252,"January 18, 1990",9,Louisville,San Antonio Spurs,Senegal
493,NaN,Frank Ntilikina,PG,6-4,200,"July 28, 1998",5,NaN,Dallas Mavericks,Belgium

In [9]:
cols = list(dfjoin.columns)
cols[-2]
[cols[-2]]+cols[0:8]+[cols[-1]]
dfjoin = dfjoin[[cols[-2]]+cols[0:8]+[cols[-1]]]
dfjoin

,team,number,player,position,height,weight,dob,yoe,college,country
0,Boston Celtics,7.0,Jaylen Brown,SF,6-6,223,"October 24, 1996",6,California,United States
1,Boston Celtics,0.0,Jayson Tatum,SF,6-8,210,"March 3, 1998",5,Duke,United States
2,Boston Celtics,13.0,Malcolm Brogdon,PG,6-5,229,"December 11, 1992",6,Virginia,United States
3,Boston Celtics,12.0,Grant Williams,PF,6-6,236,"November 30, 1998",3,Tennessee,United States
4,Boston Celtics,36.0,Marcus Smart,PG,6-3,220,"March 6, 1994",8,Oklahoma State,United States
...,...,...,...,...,...,...,...,...,...,...
489,New Orleans Pelicans,17.0,Jonas Valančiūnas,C,6-11,265,"May 6, 1992",10,NaN,Lithuania
490,Houston Rockets,20.0,Bruno Fernando,C,6-9,240,"August 15, 1998",3,Maryland,Angola
491,San Antonio Spurs,25.0,Jakob Poeltl,C,7-1,245,"October 15, 1995",6,Utah,Austria
492,San Antonio Spurs,41.0,Gorgui Dieng,C,6-10,252,"January 18, 1990",9,Louisville,Senegal
493,Dallas Mavericks,NaN,Frank Ntilikina,PG,6-4,200,"July 28, 1998",5,NaN,Belgium

In [11]:
dfjoin.to_csv('players.csv', index=False)