In [2]:
import pandas as pd

In [3]:
matches = pd.read_html('https://www.basketball-reference.com/teams/DET/2023.html', match="Birth Date")
df1 = matches[0]
df1

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College
0,NaN,Bojan Bogdanović,SF,6-7,226,"April 18, 1989",ba,8,NaN
1,NaN,Killian Hayes,PG,6-5,195,"July 27, 2001",us,2,NaN
2,NaN,Saddiq Bey,SF,6-7,215,"April 9, 1999",us,2,Villanova
3,NaN,Isaiah Stewart,C,6-8,250,"May 22, 2001",us,2,Washington
4,NaN,Isaiah Livers,PF,6-7,230,"July 28, 1998",us,1,Michigan
5,NaN,Cade Cunningham,PG,6-6,220,"September 25, 2001",us,1,Oklahoma State
6,NaN,Nerlens Noel,C,6-11,220,"April 10, 1994",us,8,Kentucky
7,NaN,Cory Joseph,PG,6-3,200,"August 20, 1991",ca,11,Texas
8,NaN,Alec Burks,SG,6-6,214,"July 20, 1991",us,11,Colorado
9,NaN,Hamidou Diallo,SG,6-5,202,"July 31, 1998",us,4,Kentucky
10,NaN,Jaden Ivey,SG,6-4,195,"February 13, 2002",us,R,Purdue
11,NaN,Buddy Boeheim (TW),PG,6-6,205,"November 11, 1999",us,R,Syracuse
12,NaN,Marvin Bagley III,PF,6-11,235,"March 14, 1999",us,4,Duke
13,NaN,Jalen Duren,C,6-10,250,"November 18, 2003",us,R,Memphis
14,NaN,Rodney McGruder,SG,6-4,205,"July 29, 1991",us,6,Kansas State
15,NaN,Kevin Knox,SF,6-7,215,"August 11, 1999",us,4,Kentucky

In [4]:
matches = pd.read_html('https://www.basketball-reference.com/teams/ATL/2023.html', match="Birth Date")
df2 = matches[0]
df2

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College
0,NaN,Clint Capela,C,6-10,240,"May 18, 1994",ch,8,NaN
1,NaN,De'Andre Hunter,SF,6-8,225,"December 2, 1997",us,3,Virginia
2,NaN,Dejounte Murray,PG,6-4,180,"September 19, 1996",us,5,Washington
3,NaN,Justin Holiday,SG,6-6,180,"April 5, 1989",us,9,Washington
4,NaN,Onyeka Okongwu,C,6-8,235,"December 11, 2000",us,2,USC
5,NaN,Bogdan Bogdanović,SG,6-6,220,"August 18, 1992",rs,5,NaN
6,NaN,Jalen Johnson,SF,6-9,220,"December 18, 2001",us,1,Duke
7,NaN,John Collins,PF,6-9,235,"September 23, 1997",us,5,Wake Forest
8,NaN,Trae Young,PG,6-1,164,"September 19, 1998",us,4,Oklahoma
9,NaN,Vit Krejci,PG,6-8,195,"June 19, 2000",cz,1,NaN
10,NaN,AJ Griffin,SF,6-6,222,"August 25, 2003",us,R,Duke
11,NaN,Aaron Holiday,PG,6-0,185,"September 30, 1996",us,4,UCLA
12,NaN,Frank Kaminsky,C,7-0,240,"April 4, 1993",us,7,Wisconsin
13,NaN,Tyrese Martin,SG,6-6,215,"March 7, 1999",us,R,"Rhode Island, UConn"
14,NaN,Trent Forrest (TW),PG,6-4,210,"June 12, 1998",us,2,Florida State
15,NaN,Jarrett Culver (TW),SG,6-6,195,"February 20, 1999",us,3,Texas Tech

In [5]:
pd.concat([df1, df2])

,No.,Player,Pos,Ht,Wt,Birth Date,Unnamed: 6,Exp,College
0,NaN,Bojan Bogdanović,SF,6-7,226,"April 18, 1989",ba,8,NaN
1,NaN,Killian Hayes,PG,6-5,195,"July 27, 2001",us,2,NaN
2,NaN,Saddiq Bey,SF,6-7,215,"April 9, 1999",us,2,Villanova
3,NaN,Isaiah Stewart,C,6-8,250,"May 22, 2001",us,2,Washington
4,NaN,Isaiah Livers,PF,6-7,230,"July 28, 1998",us,1,Michigan
5,NaN,Cade Cunningham,PG,6-6,220,"September 25, 2001",us,1,Oklahoma State
6,NaN,Nerlens Noel,C,6-11,220,"April 10, 1994",us,8,Kentucky
7,NaN,Cory Joseph,PG,6-3,200,"August 20, 1991",ca,11,Texas
8,NaN,Alec Burks,SG,6-6,214,"July 20, 1991",us,11,Colorado
9,NaN,Hamidou Diallo,SG,6-5,202,"July 31, 1998",us,4,Kentucky
10,NaN,Jaden Ivey,SG,6-4,195,"February 13, 2002",us,R,Purdue
11,NaN,Buddy Boeheim (TW),PG,6-6,205,"November 11, 1999",us,R,Syracuse
12,NaN,Marvin Bagley III,PF,6-11,235,"March 14, 1999",us,4,Duke
13,NaN,Jalen Duren,C,6-10,250,"November 18, 2003",us,R,Memphis
14,NaN,Rodney McGruder,SG,6-4,205,"July 29, 1991",us,6,Kansas State
15,NaN,Kevin Knox,SF,6-7,215,"August 11, 1999",us,4,Kentucky
0,NaN,Clint Capela,C,6-10,240,"May 18, 1994",ch,8,NaN
1,NaN,De'Andre Hunter,SF,6-8,225,"December 2, 1997",us,3,Virginia
2,NaN,Dejounte Murray,PG,6-4,180,"September 19, 1996",us,5,Washington
3,NaN,Justin Holiday,SG,6-6,180,"April 5, 1989",us,9,Washington
4,NaN,Onyeka Okongwu,C,6-8,235,"December 11, 2000",us,2,USC
5,NaN,Bogdan Bogdanović,SG,6-6,220,"August 18, 1992",rs,5,NaN
6,NaN,Jalen Johnson,SF,6-9,220,"December 18, 2001",us,1,Duke
7,NaN,John Collins,PF,6-9,235,"September 23, 1997",us,5,Wake Forest
8,NaN,Trae Young,PG,6-1,164,"September 19, 1998",us,4,Oklahoma
9,NaN,Vit Krejci,PG,6-8,195,"June 19, 2000",cz,1,NaN
10,NaN,AJ Griffin,SF,6-6,222,"August 25, 2003",us,R,Duke
11,NaN,Aaron Holiday,PG,6-0,185,"September 30, 1996",us,4,UCLA
12,NaN,Frank Kaminsky,C,7-0,240,"April 4, 1993",us,7,Wisconsin
13,NaN,Tyrese Martin,SG,6-6,215,"March 7, 1999",us,R,"Rhode Island, UConn"
14,NaN,Trent Forrest (TW),PG,6-4,210,"June 12, 1998",us,2,Florida State
15,NaN,Jarrett Culver (TW),SG,6-6,195,"February 20, 1999",us,3,Texas Tech